.about {
    padding: 180px 0;
    
    &__subtitle {
        margin-bottom: 24px;
        font-family: 'Inter';
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        max-width: 100%;
    }

    &__content {
        font-family: 'Gotham';
        margin-left: 40px;
    }

    &__title {
        margin-bottom: 25px;
    }

    &__text {
        font-style: normal;
        font-weight: 325;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 42px;

        p {
            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }

    &__buttons {
        margin-right: 18px;
    }

    &__btn {
        padding: 12.5px 38px;

        +.btn {
            margin-left: 24px;
        }
    }
}

