.additional {
    font-family: "Gotham";
    background: #E6E8EF;
    padding: 110px 0 180px 0;

    @include mobile {
        padding: 50px 0 80px 0;
    }

    &__title {
        max-width: 577px;
        margin-bottom: 64px;

        @include mobile {
            margin-bottom: 24px;
            max-width: 275px;
        }
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;

        @include mobile {
            flex-direction: column;
            gap: 16px;
        }
    }   

    &__item {
        display: flex;

        @include mobile {
            gap: 8px;
        }
    }

    &__icon {
        background: linear-gradient(130.67deg, #1E74EC 6.5%, #002984 100%);
        min-width: 160px;
        min-height: 214px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 5px;
            height: 8px;
            width: 10px;
            background: url("../img/svg/check.svg") no-repeat;
            background-size: cover;
            display: none;

            @include mobile {
                display: block;
            }
        }

        svg {
            width: 80px;
            height: 80px;
            fill: #fff;
            display: block;
            object-fit: cover;

            @include mobile {
                display: none;
            }
        }

        @include mobile {
            min-width: 18px;
            min-height: 18px;
            position: relative;
        }
    }

    &__text {
        background: #FFFFFF;
        font-weight: 325;
        font-size: 26px;
        line-height: 32px;
        color: #35417F;
        padding: 61px 47px 61px 40px;
        min-width: 293px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            max-width: 206px;

            @include mobile {
                max-width: 100%;
            }
        }

        @include mobile {
            background-color: transparent;
            font-size: 14px;
            max-width: 100%;
            padding: 0;
            line-height: 20px;
            display: block;
            margin-left: 8px;
        }
    }
}
