.contacts {
    font-family: "Gotham";
    padding-top: 110px;
    padding-bottom: 180px;
    background: url("../img/contacts/bg.jpg") no-repeat;
    background-size: 100% 560px;

    @include notebook {
        .container {
            padding: 0;
        }
    }

    @include mobile {
        padding-bottom: 0;
        padding-top: 40px;
        background-size: 100% 240px;
    }

    &__subtitle {
        margin-bottom: 15px;

        @include notebook {
            padding: 0 15px;
        }
    }

    &__title {
        margin-bottom: 40px;
        @include notebook {
            padding: 0 15px;
        }
    }

    &__inner {
        background: #EEEFF1;
        display: flex;
        justify-content: space-between;
       
        gap: 25px;
        padding: 110px 123px 110px 122px;

        @include notebook {
            flex-direction: column-reverse;
            padding: 0px;
            background: #E6E8EF;
        }
    }

    &__content {
        background: #003e97;
        max-width: 578px;
        padding: 64px 40px 48px;
        color: #EEEFF1;

        @include notebook {
            max-width: 100%;
            padding: 40px 16px;
        }
    }

    &__caption {
        font-weight: 325;
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 15px;

        @include mobile {
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__desc {
        font-weight: 325;
        font-size: 16px;
        line-height: 22px;
        border-bottom: 2px solid rgba(#DDDDE2, 0.2);
        padding-bottom: 24px;

        @include mobile {
            font-size: 12px;
            line-height: 16px;
            padding-bottom: 40px;
        }
    }

    &__country {
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap; 
        justify-content: center;
        gap: 38px;
        padding-top: 40px;
        border-bottom: 2px solid rgba(#DDDDE2, 0.2);

        @include mobile {
            padding-top: 16px;
        }

        @media (max-width: 370px) {
            display: block;
        }

        &-title {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            text-transform: uppercase;
            margin-bottom: 14px;
            
            @include mobile {
                font-size: 12px;
                line-height: 14px;
            }
        }

        &-links {
            padding-bottom: 22px;
        } 

        &-link {
            font-weight: 325;
            font-size: 16px;
            line-height: 20px;
            color: #EEEFF1;
            display: block;

            @include mobile {
                font-size: 11px;
                line-height: 14px;
            }

            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    &__social {
        display: flex;
        padding-top: 40px;

        @include mobile {
            justify-content: center;
            padding-top: 24px;
        }
        
        &-link {
            &:not(:last-child) {
                margin-right: 40px;

                @media (max-width: 370px) {
                    margin-right: 25px;
                }
            }
            svg {
                width: 32px;
                height: 32px;
                fill: #fff;
            }
        }
    }

    &__form {
        max-width: 454px;
        @include notebook {
            max-width: 100%;
            padding: 16px 16px 64px;
        }

        &-title {
            font-weight: 700;
            font-size: 36px;
            line-height: 42px;
            color: #03115F;
            margin-bottom: 27px;

            @include mobile {
                display: none;
            }
        }

        &-desc {
            font-weight: 325;
            font-size: 18px;
            line-height: 22px;
            color: #535670;
            margin-bottom: 15px;

            @include mobile {
                font-size: 12px;
                line-height: 16px;
                font-family: 'Roboto';
            }
        }

        &-field {
            display: block;
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }

        &-input,
        &-textarea {
            display: block;
            width: 100%;
            background: #FFFFFF;
            padding: 0 16px;
            border-radius: 4px;

            &::placeholder {
                font-weight: 325;
                font-size: 16px;
                line-height: 20px;
                color: #75788D;

                @include mobile {
                    font-size: 12px;
                    line-height: 14px;
                    font-family: 'Roboto';
                }
            }
        }

        &-input {
            height: 48px;

            @include mobile {
                height: 30px;
            }
        }

        &-textarea {
            padding: 16px;
            height: 96px;

            @include mobile {
                padding-top: 8px;
            }
        }

        &-text {
            font-weight: 400;
            font-size: 11px;
            line-height: 20px;
            color: #535670;
            font-family: "Roboto";
            background: url("../img/svg/star.svg") left 1px top 2px no-repeat;
            padding-left: 14px;
            word-spacing: 2.4px;
            margin-bottom: 4px;
            display: inline-block;
        }

        &-footer {
            @include mobile {
                display: flex;
                flex-direction: column;
            }
        }

        &-bottom {
            display: flex;
            gap: 10px;

            @include mobile {
                flex-direction: column;
            }
        }

        &-btn {
            min-width: 206px;

            @include mobile {
                order: 3;
                padding: 16px;
                border-radius: 8px;
            }
        }

        &-politics {
            display: block;
            font-weight: 325;
            font-size: 11px;
            line-height: 20px;
            color: #989AA9;
            padding-top: 4px;

            @include mobile {
                order: 1;
                background: #EEEFF1;
                padding: 14px 16px;
                border-radius: 4px;

                br {
                    display: none;
                }
            }

            a {
                text-decoration-line: underline;
                color: #A960AB;
            }
        }
    }
}

