.contact-us {
    background: url("../img/contact-us/bg.jpg") center / cover no-repeat;
    padding: 243px 0 244px 0;

    @include mobile {
        padding: 81px 0 64px 0;
    }
    &__title {
        margin-bottom: 24px;
    }

    &__desc {
        max-width: 577px;
        margin-bottom: 50px;
    }

    &__btn {
        @include mobile {
            border-radius: 8px;
        }
    }
}

