.cooperation {
    font-family: "Gotham";
    padding: 180px 0 138px 0;

    @include mobile {
        padding: 80px 0 40px;
    }

    &__title {
        margin-bottom: 64px;
        max-width: 577px;
    }

    &__wrapper {
        position: relative;
        margin: 0 -15px;
    }

    &__arrow {
        background-color: transparent;
        
        svg {
            width: 12px;
            height: 28px;
            fill: transparent;
            stroke: #A960AB;
            stroke-width: 2px;
        }

        @include mobile {
            display: none;
        }

        position: absolute;
        top: 41%;
        z-index: 10;
        overflow: visible;

        &--prev {
            left: -52px;
        }

        &--next {
            right: -52px;
        }
    }

    &__slider {
        padding: 0 15px 90px;
        
        .swiper-slide {
            background: #F8F9F9;
            height: auto;
        }

        .swiper-pagination {
            bottom: 47px;
        }

        .swiper-pagination-bullet {
            background: gray;
            margin: 0 12px !important;
            transition: all 0.3s ease-in-out;
        }

        .swiper-pagination-bullet-active {
            background: #A960AB;
        }
    }

    &__img {
        img {
            max-width: 100%;
            width: 100%;

            @include mobile {
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &__content {
        padding: 24px 34px 67px 40px;

        @include mobile {
            padding: 24px 16px 18px;
        }
    }

    &__caption {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        background: linear-gradient(130.67deg, #1E74EC 6.5%, #002984 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 10px;

        @include mobile {
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__desc {
        font-weight: 325;
        font-size: 16px;
        line-height: 22px;
        color: #535670;

        @include mobile {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
        }
    }
}
