.stages {
    font-family: "Gotham";
    padding: 110px 0 179px 0;
    max-width: 1360px;
    margin: 0 auto;

    @include  mobile {
        padding: 40px 0 102px 0;
    }

    &__point {
        display: flex;
        gap: 40px;

        &:not(:last-child) {
            margin-bottom: 109px;

            @include mobile {
                margin-bottom: 62px;
            }
        }
    }

    &__num {
        font-weight: 700;
        font-size: 200px;
        line-height: 240px;
        color: #DDDDE2;
        text-align: center;

        @include notebook {
            font-size: 120px;
        }

        @include mobile {
            display: none;
        }
    }

    &__heading {
        font-weight: 700;
        font-size: 54px;
        line-height: 64px;
        background: linear-gradient(130.67deg, #1E74EC 6.5%, #002984 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 16px;

        @include notebook {
            font-size: 30px;
            margin-bottom: 0px;
        }

        @include mobile {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }
    }

    &__text {
        color: #535670;
        font-weight: 325;
        font-size: 26px;
        line-height: 32px;
        max-width: 697px;

        @include notebook {
            font-size: 18px;
            line-height: 25px;
        }

        @include mobile {
            font-size: 14px;
            line-height: 20px;
            font-family: "Rubik";
            max-width: 300px;
            margin-top: 8px;
        }

        span {
            color: #75788D;
            display: block;
            margin-top: 40px;

            @include notebook {
                margin-top: 20px;
            }
        }
    }

    &__clients {
        display: flex;
        margin-top: 34px;
    }

    &__client {
        display: block;
        &:not(:last-child) {
            margin-right: 40px;

            @include mobile {
                margin-right: 24px;
            }
        }

        img {
            max-width: 100%;
        }
    }

    &__bottom {
        margin-top: 24px;

        @include mobile {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__road {
        font-weight: 325;
        font-size: 16px;
        line-height: 20px;
        color: #75788D;
        max-width: 242px;
        margin-bottom: 15px;

        @include mobile {
            font-family: 'Roboto';
            max-width: 186px;
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 0;
        }
    }

    &__link {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #A960AB;
        margin-top: 15px;
        position: relative;
        display: block;
        
        &--mob {
            display: none;
            @include mobile {
                display: block;
            }
        }

        &:first-child {
            @include mobile {
                display: none;
            }
        }

        @include mobile {
            font-size: 14px;
            line-height: 16px;
            color: #1E74EC;
            margin-top: 0;
        }
        
        &::after {
            content: "";
            background: url("../img/svg/arrow-all.svg") no-repeat;
            position: absolute;
            top: 0px;
            right: -70px;
            width: 45px;
            height: 16px;
            transition: all 0.3s ease-in-out;

            @include mobile {
                display: none;
            }
        }

        &:hover {
            &::after {
                right: -85px;
            }
        }
    }
}

