.vroom-desc {
    font-family: "Gotham";
    padding: 180px 0;

    @include mobile {
        padding: 96px 0 80px 0;
    }

    &__title {
        max-width: 577px;
        margin-bottom: 64px;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
    }   

    &__item {
        display: flex;

        @include mobile {
            flex-direction: column;
        }
    }

    &__icon {
        background: linear-gradient(130.67deg, #1E74EC 6.5%, #002984 100%);
        min-width: 160px;
        min-height: 214px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mobile {
            background: transparent;
            min-height: 0;
            margin-bottom: 40px;
        }
        svg {
            width: 80px;
            height: 80px;
            fill: #fff;
            display: block;
            object-fit: cover;

            @include mobile {
                fill: #1E74EC;
            }
        }
    }

    &__text {
        background: #E6E8EF;
        font-weight: 325;
        font-size: 16px;
        line-height: 22px;
        color: #35417F;
        min-width: 293px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include mobile {
            font-family: 'Rubik';
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #75788D;
            text-align: center;
            background-color: transparent;
        }

        p {
            max-width: 206px;
            @include mobile {
                max-width: 100%;
            }
        }
    }
}
