<section class="about">
    <div class="container">
        <h3 class="about__subtitle section-subtitle">О нас</h3>
        <div class="about__inner">
            <div class="about__img">
                <img src="img/about/img.jpg" alt="Photo">
            </div>
            <div class="about__content">
                <h2 class="about__title section-title">Почему UST?</h2>
                <div class="about__text">
                    <p>К услугам наших клиентов разработка программного обеспечения на заказ, проектирование пользовательских интерфейсов, создание сайтов (в том числе на основе индивидуальной CMS) и их поддержка. </p>
                    <p>Мы также предлагаем услугу IT-консалтинга — налаживание работы любых информационно-аналитических систем и онлайн-решений компании для большей эффективности бизнес-процессов. </p>
                    <p>Сегодня компания «Union Smart Technology» имеет представительства с умелыми project‑менеджерами в РФ и Словакии.</p>
                    <p>Такая география позволяет привлекать наиболее ответственных и квалифицированных программистов и живо реагировать на потребности заказчиков со всего света, сохраняя комфортный уровень цен.</p>
                </div>
                <div class="about__buttons section-buttons">
                    <a href="#" class="about__btn btn btn--stroke">Вакансии</a>
                    <a href="#" class="about__btn btn btn--fill">Читать далее</a>
                </div>
            </div>
        </div>
    </div>
</section>

