<div class="additional">
    <div class="container">
        <h2 class="additional__title section-title">Дополнительные услуги</h2>
        <div class="additional__inner">
            <div class="additional__item">
                <div class="additional__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#dev"></use>
                    </svg>
                </div>
                <div class="additional__text">
                    <p>Разработка чат-ботов</p>
                </div>
            </div>
            <div class="additional__item">
                <div class="additional__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#VR"></use>
                    </svg>
                </div>
                <div class="additional__text">
                    <p>AR/VR</p>
                </div>
            </div>
            <div class="additional__item">
                <div class="additional__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#mobile"></use>
                    </svg>
                </div>
                <div class="additional__text">
                    <p>Разработка мобильных игр</p>
                </div>
            </div>
            <div class="additional__item">
                <div class="additional__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#doc"></use>
                    </svg>
                </div>
                <div class="additional__text">
                    <p>Составление технического задания</p>
                </div>
            </div>
            <div class="additional__item">
                <div class="additional__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#server"></use>
                    </svg>
                </div>
                <div class="additional__text">
                    <p>Серверная разработка</p>
                </div>
            </div>
            <div class="additional__item">
                <div class="additional__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#outsourcing"></use>
                    </svg>
                </div>
                <div class="additional__text">
                    <p>Аутсорсинг</p>
                </div>
            </div>
        </div>
    </div>
</div>