<section class="advantages">
    <div class="container">
        <div class="advantages__header section-header">
            <h3 class="advantages__subtitle section-subtitle">Наши</h3>
            <h2 class="advantages__title section-title">Преимущества</h2>
            <p class="advantages__text section-text">Основная ценность нашей компании - создание качественного продукта и удовлетворение потребностей клиента. Поэтому перед началом разработки мы проводим маркетинговые исследования и помогаем клиенту определить стратегию развития продукта.</p>
        </div>
        <div class="advantages__inner">
            <div class="advantages__item">
                <div class="advantages__icon">
                    <img src="img/advantages/adv-1.png" alt="">
                </div>
                <h3 class="advantages__caption">Разработка программного обеспечения</h3>
                <p class="advantages__desc">Мы обеспечиваем полный цикл разработки программного обеспечения, развертывания и послерелизной поддержки. Вы получите функциональный, масштабируемый и безопасный продукт, идеально подходящий для бизнеса. <br><span>MVP за 90 дней.</span></p>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon">
                    <img src="img/advantages/adv-2.png" alt="">
                </div>
                <h3 class="advantages__caption">«Спасение» вашего проекта</h3>
                <p class="advantages__desc">Мы присоединяемся к любому этапу разработки, анализируем текущее состояние продукта, возвращаем процесс разработки в нужное русло и выпускаем продукт вовремя.</p>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon">
                    <img src="img/advantages/adv-3.png" alt="">
                </div>
                <h3 class="advantages__caption">Создание выделенного <br> ИТ-центра</h3>
                <p class="advantages__desc">Мы предоставляем выделенные команды на полный рабочий день, включающие аналитиков, дизайнеров, разработчиков, QA-инженеров и менеджеров проектов. Соберите свою команду всего за несколько дней.</p>
            </div>
            <div class="advantages__item">
                <div class="advantages__icon">
                    <img src="img/advantages/adv-4.png" alt="">
                </div>
                <h3 class="advantages__caption">Профессионализм команды</h3>
                <p class="advantages__desc">Избегайте затрат на инвестиции в развитие внутренних навыков. Нанимайте профессионалов с необходимыми навыками для обеспечения результатов проекта и своевременной доставки.</p>
            </div>
        </div>
    </div>
</section>