<section class="also">
    <div class="container">
        <h2 class="also__title section-title">А так же…</h2>
        <div class="also__inner">
            <div class="also__item">
                <div class="also__content">
                    <h3 class="also__subtitle">Мобильные приложения дополнительной реальности</h3>
                    <p class="also__desc">Мы разработали систему карточек для школьников и студентов со встроенным контентом, «оживающим» при наведении смартфона</p>
                    <ul class="also__list">
                        <li>Трехмерная анимация со звуковым сопровождением</li>
                        <li>Взаимодействие карточек и встроенных объектов друг с другом</li>
                        <li>Возможность выпуска в виде изображений на страницах учебника</li>
                    </ul>
                </div>
                <div class="also__img">
                    <img src="img/also/img-1.jpg" alt="">
                </div>
            </div>
            <div class="also__item">
                <div class="also__content">
                    <h3 class="also__subtitle">Обучающие разработки для производства</h3>
                    <p class="also__desc">Технологии позволяют обучать Ваших сотрудников, воссоздавая любой технологический процесс</p>
                    <ul class="also__list">
                        <li>Имитация действий и внешних ситуаций, взаимодействие с объектом</li>
                        <li>Высокоточный перенос масштабов и габаритов в виртуальную реальность</li>
                        <li>Экономия средств на использование реальной материально-технической базы</li>
                    </ul>
                </div>
                <div class="also__img">
                    <img src="img/also/img-2.jpg" alt="">
                </div>
            </div>
            <div class="also__item">
                <div class="also__content">
                    <h3 class="also__subtitle">Конференции в виртуальной реальности</h3>
                    <p class="also__desc">Новый формат удаленной работы позволил нам создать самую удобную и функциональную среду для виртуальных совещаний</p>
                    <ul class="also__list">
                        <li>Эффект присутствия в одном пространстве сотрудников из разных городов и стран</li>
                        <li>Встроенный планировщик задач, офисные программы, экран для презентаций</li>
                        <li>Распознание голоса с автоматическое ведение протокола каждой сессии</li>
                    </ul>
                </div>
                <div class="also__img">
                    <img src="img/also/img-3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>