<section class="clients">
    <div class="container">
        <h2 class="clients__title section-title">Клиенты</h2>
        <div class="clients__inner">
            <a href="#" class="clients__item">
                <img src="img/clients/img-1.png" alt="Image 1">
            </a>
            <a href="#" class="clients__item">
                <img src="img/clients/img-2.png" alt="Image 2">
            </a>
            <a href="#" class="clients__item">
                <img src="img/clients/img-3.png" alt="Image 3">
            </a>
            <a href="#" class="clients__item">
                <img src="img/clients/img-4.png" alt="Image 4">
            </a>
            <a href="#" class="clients__item">
                <img src="img/clients/img-5.png" alt="Image 5">
            </a>
            <a href="#" class="clients__item">
                <img src="img/clients/img-6.png" alt="Image 6">
            </a>
            <a href="#" class="clients__item">
                <img src="img/clients/img-5.png" alt="Image 7">
            </a>
            <a href="#" class="clients__item">
                <img src="img/clients/img-1.png" alt="Image 8">
            </a>
            <a href="#" class="clients__item">
                <img src="img/clients/img-2.png" alt="Image 9">
            </a>
            <a href="#" class="clients__item">
                <img src="img/clients/img-3.png" alt="Image 10">
            </a>
            <a href="#" class="clients__item">
                <img src="img/clients/img-1.png" alt="Image 11">
            </a>
            <a href="#" class="clients__item">
                <img src="img/clients/img-4.png" alt="Image 12">
            </a>
        </div>
    </div>
</section>