<section class="contact-us">
    <div class="container">
        <div class="contact-us__inner">
            <h2 class="contact-us__subtitle section-subtitle section-subtitle_w">Есть идея?</h2>
            <h1 class="contact-us__title section-title section-title_w">Свяжитесь с нами</h1>
            <p class="contact-us__desc section-text section-text_w">У вас есть уже существующий проект, который вы хотите усовершенствовать? Вы хотите воплотить в жизнь смелую идею, но вам нужна помощь? Или вы вообще не знаете, с чего начать реализацию проекта?</p>
            <a href="#" class="contact-us__btn btn btn--fill">Связаться</a>
        </div>
    </div>
</section>