<section class="cooperation">
    <div class="container">
        <div class="cooperation__header section-header">
            <h2 class="cooperation__subtitle section-subtitle">Сотрудничество</h2>
            <h1 class="cooperation__title section-title">С учетом ваших потребностей</h1>
        </div>
        <div class="cooperation__wrapper">
            <button class="cooperation__arrow cooperation__arrow--prev">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-prev"></use>
                </svg>
            </button>
            <button class="cooperation__arrow cooperation__arrow--next">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-next"></use>
                </svg>
            </button>
            <div class="cooperation__slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="cooperation__img">
                            <img src="img/cooperation/img-1.jpg" alt="Photo №1">
                        </div>
                        <div class="cooperation__content">
                            <h3 class="cooperation__caption">Быстрое масштабирование</h3>
                            <p class="cooperation__desc">Мы управляем каждым проектом так, чтобы помочь вам быстро масштабировать бизнес-решения и соответствовать изменениям в потребностях клиентов вне зависимости от региона, часового пояса или требующейся функциональности.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cooperation__img">
                            <img src="img/cooperation/img-2.jpg" alt="Photo №2">
                        </div>
                        <div class="cooperation__content">
                            <h3 class="cooperation__caption">Прозрачное взаимодействие</h3>
                            <p class="cooperation__desc">Ваши результаты — основа нашего успеха. Мы используем новейшие технологии, инструменты и платформы для совместной работы, чтобы гарантировать прозрачность взаимодействия и возможность контролировать его из любой точки мира.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="cooperation__img">
                            <img src="img/cooperation/img-3.jpg" alt="Photo №3">
                        </div>
                        <div class="cooperation__content">
                            <h3 class="cooperation__caption">Смешанные команды</h3>
                            <p class="cooperation__desc">Для создания цифрового опыта или продукта требуются экспертный опыт и знания специалистов по различным предметным областям. Мы создаем многопрофильные команды для разработки комплексных технологических решений, которые помогут вам добиться необходимых результатов.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>