<section class="equipment">
    <div class="container">
        <h2 class="equipment__title section-title">Наше оборудование</h2>
        <div class="equipment__inner">
            <div class="equipment__item">
                <h3 class="equipment__subtitle">Oculus Quest 2</h3>
                <p class="equipment__desc">Новейший шлем с контроллерами от компании Facebook. Работает без проводов, идеально подходит для симуляторов и образовательных приложений</p>
                <div class="equipment__photo">
                    <img src="img/equipment/img-1.jpg" alt="">
                </div>
            </div>
            <div class="equipment__item">
                <h3 class="equipment__subtitle">Striker VR</h3>
                <p class="equipment__desc">Виртуальное оружие с эффектом реальной отдачи для максимально острых ощущений от игрового процесса</p>
                <div class="equipment__photo">
                    <img src="img/equipment/img-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>