<section class="gamedev">
    <div class="container">
        <div class="gamedev__header section-header">
            <h2 class="gamedev__title section-title">Игровые разработки</h2>
            <p class="gamedev__text section-text">Основным игровым продуктом VROOM GAMES являются командные виртуальные квесты с уникальным сюжетом.</p>
        </div>
        <div class="gamedev__inner">
            <div class="gamedev__slider swiper" data-mobile="false">
                <div class="swiper-wrapper gamedev__wrapper">
                    <div class="swiper-slide gamedev__slide">
                        <div class="gamedev__img">
                            <img src="img/gamedev/img-1.jpg" alt="">
                        </div>
                        <div class="gamedev__content">
                            <h3 class="gamedev__caption">Мистическая пирамида</h3>
                            <p class="gamedev__desc">45-минутное приключение по мотивам фильмов «Мумия», «Индиана Джонс» и «Лара Крофт». Группа учёных отправляется исследовать тайны древней гробницы, сталкиваясь с коварными ловушками и потусторонними силами. Игрокам предстоит проявить смекалку, посоревноваться в меткости, преодолеть страх высоты и замкнутого пространства.</p>
                        </div>
                    </div>
                    <div class="swiper-slide gamedev__slide">
                        <div class="gamedev__img">
                            <img src="img/gamedev/img-2.jpg" alt="">
                        </div>
                        <div class="gamedev__content">
                            <h3 class="gamedev__caption">ВТОРЖЕНИЕ НАСЕКОМЫХ</h3>
                            <p class="gamedev__desc">Захватывающая история в жанре Sci-Fi длительностью до 1,5 часов. Космические герои отправляются на далекую межзвёздную базу, превращенную кровожадными мутантами в гигантский улей. Телепортация, полеты и спецэффекты не имеют аналогов в индустрии, а сложный игровой процесс привлечет внимание самых опытных геймеров.</p>  
                        </div>
                    </div>
                    <div class="swiper-slide gamedev__slide">
                        <div class="gamedev__img">
                            <img src="img/gamedev/img-3.jpg" alt="">
                        </div>
                        <div class="gamedev__content">
                            <h3 class="gamedev__caption">ARENA</h3>
                            <p class="gamedev__desc">Динамическая турнирная игра для любителей Quake и других легендарных шутеров, в которой участники сражаются друг против друга на нескольких площадках. Предусмотрены различные виды оружия. Проект подходит для проведения киберспортивных мероприятий.</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>