<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="#" class="header__logo">
                <img src="img/svg/logo.svg" alt="Logo">
                <div class="header__text">
                    <span class="header__title">Union Smart Technology</span>
                    <span class="header__subtitle">Simple solutions for complex problems</span>
                </div>
            </a>
            <nav class="header__menu">
                <ul class="header__list">
                    <li>
                        <a href="index.html" class="header__link">Главная</a>
                    </li>
                    <li>
                        <a href="team-page.html" class="header__link">Команда</a>
                    </li>
                    <li>
                        <a href="our-projects.html" class="header__link">Услуги</a>
                    </li>
                    <li>
                        <a href="career.html" class="header__link">карьера</a>
                    </li>
                    <li>
                        <a href="portfolio.html" class="header__link">Портфолио</a>
                    </li>
                    <li>
                        <a href="contact-page.html" class="header__link">Контакты</a>
                    </li>
                </ul>
                <div class="header__left">
                    <a href="#" class="header__lang">
                        <img src="img/svg/lang-en.svg" alt="EN">
                    </a>
                    <a href="#" class="header__search">
                        <svg>
                            <use xlink:href="img/sprite.svg#search"></use>
                        </svg>
                    </a>
                </div>
                <div class="header__social">
                    <a href="#" class="header__social-link">
                        <svg>
                            <use xlink:href="img/sprite.svg#linked-in"></use>
                        </svg>
                    </a>
                    <a href="#" class="header__social-link">
                        <svg>
                            <use xlink:href="img/sprite.svg#google"></use>
                        </svg>
                    </a>
                    <a href="#" class="header__social-link">
                        <svg>
                            <use xlink:href="img/sprite.svg#facebook"></use>
                        </svg>
                    </a>
                    <a href="#" class="header__social-link">
                        <svg>
                            <use xlink:href="img/sprite.svg#dribble"></use>
                        </svg>
                    </a>
                </div>
            </nav>
            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>