<section class="home">
    <div class="container">
        <div class="home__inner">
            <div class="home__text">
                <h1 class="home__title">Студия разработки программного обеспечения <span>с продуктовым мышлением</span></h1>
                <p class="home__desc">Мы создаем кроссплатформенные мобильные приложения и веб-платформы и находим для них лучшие решения.</p>
                <a href="#" class="home__btn btn btn--fill">Заказать проект</a>
            </div>
            <div class="home__stat stat">
                <div class="stat__item">
                    <div class="stat__count">4+</div>
                    <span class="stat__text">Года опыта</span>
                </div>
                <div class="stat__item">
                    <div class="stat__count">30+</div>
                    <span class="stat__text">Завершенных проектов</span>
                </div>
                <div class="stat__item">
                    <div class="stat__count">4+</div>
                    <span class="stat__text">Года опыта</span>
                </div>
                <div class="stat__item">
                    <div class="stat__count">4+</div>
                    <span class="stat__text">Года опыта</span>
                </div>
            </div>
        </div>
    </div>
</section>