<section class="page-home page-home--team">
    <div class="container">
        <div class="page-home__inner">
            <h2 class="page-home__subtitle page-subtitle">Будем знакомы</h2>
            <h1 class="page-home__title page-title">Команда UST</h1>
            <p class="page-home__desc page-desc">Мы обеспечиваем развитие интеллектуального потенциала компании, способствуем профессиональному росту наших сотрудников. Работаем в России и странах Европы. Мы создаем достойные условия труда и строго соблюдаем законы, регулирующие отношения между компанией, работниками и государством.</p>
        </div>
    </div>
</section>