<section class="page-home page-home--vroom">
    <div class="container">
        <div class="page-home__inner">
            <h2 class="page-home__subtitle page-subtitle">Games & IT develoopment</h2>
            <h1 class="page-home__title page-title">VROOM Games</h1>
            <p class="page-home__desc page-desc">Крупнейший в Санкт-Петербурге VR-полигон, посетители которого могут протестировать новейшее оборудование, сыграть в увлекательные игры, пообщаться с единомышленниками и найти друзей. Также компания специализируется на графическом и игровом дизайне, создании визуальных эффектов.</p>
            <a href="#" class="page-home__btn btn btn--fill">vroomgames.ru</a>
        </div>
    </div>
</section>