<section class="page-home page-home--projects">
    <div class="container">
        <div class="page-home__inner">
            <h2 class="page-home__subtitle">Как мы выполняем</h2>
            <h1 class="page-home__title">Наши проекты</h1>
            <p class="page-home__desc">Мы осуществляем технологическую и бизнес-трансформацию, используя методологию Agile, проверенные на практике платформы для организации совместной работы с заказчиком, передовые инструменты для разработки, многопрофильные команды специалистов с различными навыками и распределенную глобальную модель оказания услуг.</p>
        </div>
    </div>
</section>