<section class="offers">
    <div class="container">
        <div class="section-header offers__header">
            <h2 class="offers__subtitle section-subtitle">Наши предложения</h2>
            <h1 class="offers__title section-title">Разработка полного цикла</h1>
            <p class="offers__text section-text">Мы можем разработать для вас любое индивидуальное решение. Наша компания обладает широкими возможностями для успешного создания технически-сложных систем.</p>
        </div>
        <div class="offers__inner">
            <div class="offers__item">
                <div class="offers__icon">
                    <img src="img/offers/offer-1.png" alt="">
                </div>
                <h3 class="offers__caption">Программируем</h3>
                <p class="offers__desc">Создаём расширяемую архитектуру, пишем чистый и стабильный код. Интегрируемся с технологиями заказчика.</p>
            </div>
            <div class="offers__item">
                <div class="offers__icon">
                    <img src="img/offers/offer-2.png" alt="">
                </div>
                <h3 class="offers__caption">Тестируем</h3>
                <p class="offers__desc">Проводим ручное функциональное тестирование и пишем UI-автотесты. Готовим чек-листы и тест-кейсы.</p>
            </div>
            <div class="offers__item">
                <div class="offers__icon">
                    <img src="img/offers/offer-3.png" alt="">
                </div>
                <h3 class="offers__caption">Поддерживаем</h3>
                <p class="offers__desc">Работаем по SLA. Следим за стабильностью работы приложения, обновляем под новые устройства и версии iOS и Android.</p>
            </div>
            <div class="offers__item">
                <div class="offers__icon">
                    <img src="img/offers/offer-4.png" alt="">
                </div>
                <h3 class="offers__caption">Анализируем</h3>
                <p class="offers__desc">Пишем ТЗ для разработки, учитывая бизнес-процессы и технологии заказчика и потребности пользователей.</p>
            </div>
            <div class="offers__item">
                <div class="offers__icon">
                    <img src="img/offers/offer-5.png" alt="">
                </div>
                <h3 class="offers__caption">Прототипируем</h3>
                <p class="offers__desc">Прорабатываем пользовательские сценарии, проектируем логику приложения, скечируем основные экраны.</p>
            </div>
            <div class="offers__item">
                <div class="offers__icon">
                    <img src="img/offers/offer-6.png" alt="">
                </div>
                <h3 class="offers__caption">Дизайним</h3>
                <p class="offers__desc">Адаптируем фирменный стиль заказчика к гайдлайнам платформ. Рисуем удобные и понятные интерфейсы.</p>
            </div>
        </div>
        <a href="#" class="offers__all">Все услуги</a>
    </div>
</section>