<section class="office">
    <div class="container">
        <div class="office__inner">
            <div class="office__top">
                <div class="office__video">
                    <img src="img/office/img-1.jpg" alt="">
                    <button class="office__play">
                        <svg>
                            <use xlink:href="img/sprite.svg#play"></use>
                        </svg>
                    </button>
                </div>
                <div class="office__text">
                    <h2 class="office__title section-title">Офис и демонстрационный зал VRoom Games</h2>
                    <p class="office__desc section-text">Мы всегда рады видеть гостей, клиентов и партнеров в клубе Vroom Games в самом центре Санкт-Петербурга, на Литовском проспекте, д. 50 к 2. Здесь можно не только ознакомиться с нашими технологиями, но и приятно провести время в баре, за игрой в бильярд, настольный теннис и приставки.</p>
                </div>
            </div>
            <div class="office__images">
                <div class="office__slider swiper" data-mobile="false">
                    <div class="swiper-wrapper office__wrapper">
                        <div class="office__img office__img--big swiper-slide">
                            <img src="img/office/img-2.jpg" alt="">
                        </div>
                        <div class="office__img swiper-slide">
                            <img src="img/office/img-3.jpg" alt="">
                        </div>
                        <div class="office__img swiper-slide">
                            <img src="img/office/img-4.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>