<div class="our-offer">
    <div class="container">
        <div class="our-offer__inner">
            <h2 class="our-offer__subtitle section-subtitle section-subtitle_w">Будем рады сотрудничеству!</h2>
            <h1 class="our-offer__title section-title section-title_w">Наше предложение</h1>
            <div class="our-offer__content">
                <ul class="our-offer__list">
                    <li>Организация постановок и обслуживания компьютерной техники и VR систем</li>
                    <li>Разработка программного обеспечения любой сложности</li>
                    <li>Франшиза игрового заведения стоимостью от 3 млн. руб. «под ключ»</li>
                </ul>
                <a href="tel:+7 (812) 920-50-80" class="our-offer__link">
                    <span>Контактный телефон:</span>
                    +7 (812) 920-50-80
                </a>
                <a href="#" class="our-offer__btn btn btn--fill">vroomgames.ru</a>
            </div>
        </div>
    </div>
</div>