<section class="projects">
    <div class="container">
        <div class="projects__header section-header">
            <h3 class="projects__subtitle section-subtitle">Портфолио</h3>
            <h2 class="projects__title section-title">Завершенные проекты</h2>
            <p class="projects__text section-text">Мы специализируемся на предоставлении программного обеспечения высшего качества и предоставлении высококвалифицированных команд с опытом в области разработки блокчейнов, аналитики больших данных и AI/ML, а также услуг по разработке программного обеспечения на заказ.</p>
        </div>
        <div class="projects__inner">
            <div class="projects__item">
                <div class="projects__img">
                    <img src="img/projects/img-1.jpg" alt="Photo №1">
                </div>
                <h3 class="projects__caption">Мобильный контроль</h3>
                <p class="projects__desc">Сервис для работы с клиентами и партнерами</p>
            </div>
            <div class="projects__item">
                <div class="projects__img">
                    <img src="img/projects/img-2.jpg" alt="Photo №1">
                </div>
                <h3 class="projects__caption">Голосовое управление</h3>
                <p class="projects__desc">Сервис для работы по задачам</p>
            </div>
            <div class="projects__item">
                <div class="projects__img">
                    <img src="img/projects/img-3.jpg" alt="Photo №1">
                </div>
                <h3 class="projects__caption">Vroomgames</h3>
                <p class="projects__desc">Сервис для работы со списками заказов</p>
            </div>
            <div class="projects__item">
                <div class="projects__img">
                    <img src="img/projects/img-4.jpg" alt="Photo №1">
                </div>
                <h3 class="projects__caption">ATOL-бонус</h3>
                <p class="projects__desc">Мобильное приложение для профессионалов</p>
            </div>
            <div class="projects__item projects__item--big">
                <div class="projects__img">
                    <img src="img/projects/img-5.jpg" alt="Photo №1">
                </div>
                <h3 class="projects__caption">Prorab-x</h3>
                <p class="projects__desc">Мобильное приложение для строителей</p>
            </div>
            <div class="projects__item projects__item--big">
                <div class="projects__img">
                    <img src="img/projects/img-6.jpg" alt="Photo №1">
                </div>
                <h3 class="projects__caption">Актуаль</h3>
                <p class="projects__desc">Сайт промом игры</p>
            </div>
        </div>
        <div class="projects__buttons section-buttons">
            <a href="#" class="projects__btn btn btn--stroke">Портфолио</a>
            <a href="#" class="projects__btn btn btn--fill">Заказать проект</a>
        </div>
    </div>
</section>