<section class="services">
    <div class="container">
        <div class="section-header services__header">
            <h2 class="services__subtitle section-subtitle">Полный спектр</h2>
            <h1 class="services__title section-title">Наших услуг</h1>
        </div>
        <div class="services__row">
            <div class="services__item">
                <div class="services__icon">
                    <img src="img/services/icon-1.png" alt="">
                </div>
                <h3 class="services__caption">Анализируем</h3>
            </div>
            <div class="services__item">
                <div class="services__icon">
                    <img src="img/services/icon-2.png" alt="">
                </div>
                <h3 class="services__caption">Прототипируем</h3>
            </div>
            <div class="services__item">
                <div class="services__icon">
                    <img src="img/services/icon-3.png" alt="">
                </div>
                <h3 class="services__caption">Дизайним</h3>
            </div>
            <div class="services__item">
                <div class="services__icon">
                    <img src="img/services/icon-4.png" alt="">
                </div>
                <h3 class="services__caption">Программируем</h3>
            </div>
            <div class="services__item">
                <div class="services__icon">
                    <img src="img/services/icon-5.png" alt="">
                </div>
                <h3 class="services__caption">Тестируем</h3>
            </div>
            <div class="services__item">
                <div class="services__icon">
                    <img src="img/services/icon-6.png" alt="">
                </div>
                <h3 class="services__caption">Поддерживаем</h3>
            </div>
        </div>
    </div>
</section>