<section class="team">
    <div class="container">
        <div class="team__inner">
            <div class="team__item team__item--big">
                <h2 class="team__title">Команда, ориентированная <br> на людей</h2>
                <p class="team__text">В команде нашей компании работают высококвалифицированные IT-специалисты, которые обладают не только качественными знаниями, но и бесценным опытом в разработке инновационных продуктов. Самое главное - каждый из них влюблен в то, что делает. Вы можете познакомиться с каждым участником нашей команды чуть ближе.</p>
            </div>
            <div class="team__item">
                <div class="team__photo">
                    <img src="img/team/img-1.jpg" alt="Photo №1">
                </div>
                <h3 class="team__name">Николай шпаков</h3>
                <div class="team__prof">Исполнительный директор</div>
            </div>
            <div class="team__item">
                <div class="team__photo">
                    <img src="img/team/img-2.jpg" alt="Photo №2">
                </div>
                <h3 class="team__name">Олег Науменко</h3>
                <div class="team__prof">СТО</div>
            </div>
            <div class="team__item">
                <div class="team__photo">
                    <img src="img/team/img-3.jpg" alt="Photo №3">
                </div>
                <h3 class="team__name">Дмитрий Ершов</h3>
                <div class="team__prof">Руководитель группы IOS</div>
            </div>
            <div class="team__item">
                <div class="team__photo">
                    <img src="img/team/img-4.jpg" alt="Photo №4">
                </div>
                <h3 class="team__name">Ярослав фомин</h3>
                <div class="team__prof">Специалист по подбору талантов</div>
            </div>
            <div class="team__item">
                <div class="team__photo">
                    <img src="img/team/img-5.jpg" alt="Photo №5">
                </div>
                <h3 class="team__name">Елена горюнова</h3>
                <div class="team__prof">Руководитель группы дизайнеров</div>
            </div>
            <div class="team__item">
                <div class="team__photo">
                    <img src="img/team/img-6.jpg" alt="Photo №6">
                </div>
                <h3 class="team__name">Ярослав фомин</h3>
                <div class="team__prof">Руководитель группы контроля качества</div>
            </div>
            <div class="team__item">
                <div class="team__photo">
                    <img src="img/team/img-7.jpg" alt="Photo №7">
                </div>
                <h3 class="team__name">Николай шпаков</h3>
                <div class="team__prof">Управляющий делами</div>
            </div>
            <div class="team__item">
                <div class="team__photo">
                    <img src="img/team/img-8.jpg" alt="Photo №8">
                </div>
                <h3 class="team__name">Ольга науменко</h3>
                <div class="team__prof">Руководитель группы Android</div>
            </div>
        </div>
    </div>
</section>