<div class="user-form user-form--project user-form--project__pt">
    <div class="container">
        <div class="section-header user-form__header">
            <h3 class="user-form__subtitle section-subtitle section-subtitle_w">Обсуждаем</h3>
            <h2 class="user-form__title section-title section-title_w">Ваш проект</h2>
            <p class="user-form__text section-text">Если вы хотите стать частью нашей команды, оставьте свои контакты и мы свяжемся с вами!</p>
        </div>
        <form action="#" class="user-form__form">
            <div class="user-form__row">
                <div class="user-form__column">
                    <h3 class="user-form__caption">Персональная информация</h3>
                    <p class="user-form__desc">Расскажите, как к вам обращаться и как можно связаться с вами</p>
                </div>
                <div class="user-form__column">
                    <label for="" class="user-form__field">
                        <input type="text" class="user-form__input" placeholder="Имя">
                    </label>
                    <label for="" class="user-form__field">
                        <input type="text" class="user-form__input" placeholder="Компания">
                    </label>
                    <label for="" class="user-form__field">
                        <input type="text" class="user-form__input" placeholder="Электронная почта">
                    </label>
                    <label for="" class="user-form__field">
                        <input type="tel" class="user-form__input" placeholder="Телефон">
                    </label>
                </div>
            </div>
            <div class="user-form__row">
                <div class="user-form__column">
                    <h3 class="user-form__caption">Техническое задание</h3>
                    <p class="user-form__desc">Загрузите сюда свое ТЗ и / или оформите бриф</p>
                </div>
                <div class="user-form__column">
                    <label for="" class="user-form__brief">
                        <button class="user-form__btn btn btn--stroke">Оформить бриф</button>
                        <span>Оформление брифа может занять 15-25 минут</span>
                    </label>
                    <label for="" class="user-form__field">
                        <input type="tel" class="user-form__input" placeholder="Ссылка на Техническое задание">
                    </label>
                </div>
            </div>
            <div class="user-form__row">
                <div class="user-form__column">
                    <h3 class="user-form__caption">О проекте</h3>
                </div>
                <div class="user-form__column">
                    <label for="" class="user-form__field">
                        <textarea class="user-form__textarea" placeholder="Что бы Вы хотели рассказать еще о своем проекте"></textarea>
                    </label>
                    <div class="user-form__policy">
                        <h4>Ваши персональные данные обрабатываются в соответствии с нашей</h4>
                        <span>Политикой конфидециальности</span>
                    </div>
                </div>
            </div>
            <div class="user-form__row">
                <div class="user-form__column"></div>
                <div class="user-form__column">
                    <span>обязательные поля для заполнения</span>
                    <button class="user-form__send btn btn--fill" type="submit">Подать заявку</button>
                </div>
            </div>
        </form>
    </div>
</div>