<section class="vacancies">
    <div class="container">
        <div class="vacancies__header section-header">
            <h2 class="vacancies__title section-title">С нами классно</h2>
            <p class="vacancies__text section-text">В нашей команде работают исключительно высококвалифицированные специалисты, которые обладают качественными знаниями, навыками и опытом работы с крупными проектами. Мы заботимся о том, чтобы каждый сотрудник имел возможность обучаться и развивать себя в любимом деле. А также о том, чтобы работа была вашим безопасным местом, и вы чувствовали себя комфортно, выполняя свои задачи.</p>
        </div>
        <div class="vacancies__list">
            <div class="vacancies__item">
                <div class="vacancies__top">
                    <h3 class="vacancies__subtitle">Java-программист (Midle-Senior)</h3>
                </div>
                <div class="vacancies__body">
                    <div class="vacancies__content">
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">навыки</h3>
                            <div class="vacancies__conditions">
                                <span>Бэкенд</span>
                                <span>Java</span>
                                <span>SQL</span>
                                <span>ООП</span>
                                <span>PostgreSQL</span>
                                <span>Java Spring Framework</span>
                            </div>
                        </div>
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">Местоположение и тип занятости</h3>
                            <div class="vacancies__conditions">
                                <span>Полный рабочий день</span>
                                <span>Можно удаленно</span>
                            </div>
                        </div>
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">Обязанности</h3>
                            <ul>
                                <li>Участие в разработке серверной части сервиса начисления кешбека;</li>
                                <li>Покрытие написанных сервисов тестами. Согласование реализуемых методов и подходов с командой разработчиков клиентов;</li>
                                <li>Реализация логики уведомления клиентов о происходящих событиях;</li>
                                <li>Для сервера используется Spring Boot Framework.</li>
                            </ul>
                        </div>
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">Требования</h3>
                            <ul>
                                <li>Опыт коммерческой разработки back-end на Java от 1 года;</li>
                                <li>Опыт работы с Spring Framework;</li>
                                <li>Умение писать unit-тесты и понимание, зачем это нужно;</li>
                                <li>Опыт работы с PostgreSQL, Oracle (или другими классическими базами данных);</li>
                                <li>Умение находить и использовать новые сервисы и технологии.</li>
                            </ul>
                        </div>
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">Условия</h3>
                            <ul>
                                <li>Активная разработка и возможность увидеть созданную с вами систему на бою;</li>
                                <li>Каждый специалист уникален, а потому уровень заработной платы обсуждается индивидуально;</li>
                                <li>Дружелюбная, не бюрократизированная обстановка;</li>
                                <li>Оформление по ТК;</li>
                                <li>Удаленная работа. При необходимости встречаемся в неформальной обстановке;</li>
                                <li>Стабильная зарплата;</li>
                                <li>Разработка на бою.</li>
                            </ul>
                        </div>
                        <div class="vacancies__links">
                            <a href="#" class="vacancies__link">
                                <img src="img/svg/mess.svg" alt="">
                            </a>
                            <a href="#" class="vacancies__link">
                                <img src="img/svg/habr.svg" alt="">
                            </a>
                            <a href="#" class="vacancies__link">
                                <img src="img/svg/hh.svg" alt="">
                            </a>
                            <a href="#" class="vacancies__link">
                                <img src="img/svg/in.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vacancies__item">
                <div class="vacancies__top">
                    <h3 class="vacancies__subtitle">IOS-разработчик (Midle-Senior)</h3>
                    <div class="vacancies__conditions">
                        <span>Словения</span>
                        <span>Россия</span>
                    </div>
                </div>
                <div class="vacancies__body">
                    <div class="vacancies__content">
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">навыки</h3>
                            <div class="vacancies__conditions">
                                <span>Бэкенд</span>
                                <span>Java</span>
                                <span>SQL</span>
                                <span>ООП</span>
                                <span>PostgreSQL</span>
                                <span>Java Spring Framework</span>
                            </div>
                        </div>
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">Местоположение и тип занятости</h3>
                            <div class="vacancies__conditions">
                                <span>Полный рабочий день</span>
                                <span>Можно удаленно</span>
                            </div>
                        </div>
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">Обязанности</h3>
                            <ul>
                                <li>Участие в разработке серверной части сервиса начисления кешбека;</li>
                                <li>Покрытие написанных сервисов тестами. Согласование реализуемых методов и подходов с командой разработчиков клиентов;</li>
                                <li>Реализация логики уведомления клиентов о происходящих событиях;</li>
                                <li>Для сервера используется Spring Boot Framework.</li>
                            </ul>
                        </div>
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">Требования</h3>
                            <ul>
                                <li>Опыт коммерческой разработки back-end на Java от 1 года;</li>
                                <li>Опыт работы с Spring Framework;</li>
                                <li>Умение писать unit-тесты и понимание, зачем это нужно;</li>
                                <li>Опыт работы с PostgreSQL, Oracle (или другими классическими базами данных);</li>
                                <li>Умение находить и использовать новые сервисы и технологии.</li>
                            </ul>
                        </div>
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">Условия</h3>
                            <ul>
                                <li>Активная разработка и возможность увидеть созданную с вами систему на бою;</li>
                                <li>Каждый специалист уникален, а потому уровень заработной платы обсуждается индивидуально;</li>
                                <li>Дружелюбная, не бюрократизированная обстановка;</li>
                                <li>Оформление по ТК;</li>
                                <li>Удаленная работа. При необходимости встречаемся в неформальной обстановке;</li>
                                <li>Стабильная зарплата;</li>
                                <li>Разработка на бою.</li>
                            </ul>
                        </div>
                        <div class="vacancies__links">
                            <a href="#" class="vacancies__link">
                                <img src="img/svg/mess.svg" alt="">
                            </a>
                            <a href="#" class="vacancies__link">
                                <img src="img/svg/habr.svg" alt="">
                            </a>
                            <a href="#" class="vacancies__link">
                                <img src="img/svg/hh.svg" alt="">
                            </a>
                            <a href="#" class="vacancies__link">
                                <img src="img/svg/in.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vacancies__item">
                <div class="vacancies__top">
                    <h3 class="vacancies__subtitle">Бизнес-Аналитик (Senior, B2+)</h3>
                    <div class="vacancies__conditions">
                        <span>Словения</span>
                        <span>Работа в офисе</span>
                    </div>
                </div>
                <div class="vacancies__body">
                    <div class="vacancies__content">
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">навыки</h3>
                            <div class="vacancies__conditions">
                                <span>Бэкенд</span>
                                <span>Java</span>
                                <span>SQL</span>
                                <span>ООП</span>
                                <span>PostgreSQL</span>
                                <span>Java Spring Framework</span>
                            </div>
                        </div>
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">Местоположение и тип занятости</h3>
                            <div class="vacancies__conditions">
                                <span>Полный рабочий день</span>
                                <span>Можно удаленно</span>
                            </div>
                        </div>
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">Обязанности</h3>
                            <ul>
                                <li>Участие в разработке серверной части сервиса начисления кешбека;</li>
                                <li>Покрытие написанных сервисов тестами. Согласование реализуемых методов и подходов с командой разработчиков клиентов;</li>
                                <li>Реализация логики уведомления клиентов о происходящих событиях;</li>
                                <li>Для сервера используется Spring Boot Framework.</li>
                            </ul>
                        </div>
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">Требования</h3>
                            <ul>
                                <li>Опыт коммерческой разработки back-end на Java от 1 года;</li>
                                <li>Опыт работы с Spring Framework;</li>
                                <li>Умение писать unit-тесты и понимание, зачем это нужно;</li>
                                <li>Опыт работы с PostgreSQL, Oracle (или другими классическими базами данных);</li>
                                <li>Умение находить и использовать новые сервисы и технологии.</li>
                            </ul>
                        </div>
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">Условия</h3>
                            <ul>
                                <li>Активная разработка и возможность увидеть созданную с вами систему на бою;</li>
                                <li>Каждый специалист уникален, а потому уровень заработной платы обсуждается индивидуально;</li>
                                <li>Дружелюбная, не бюрократизированная обстановка;</li>
                                <li>Оформление по ТК;</li>
                                <li>Удаленная работа. При необходимости встречаемся в неформальной обстановке;</li>
                                <li>Стабильная зарплата;</li>
                                <li>Разработка на бою.</li>
                            </ul>
                        </div>
                        <div class="vacancies__links">
                            <a href="#" class="vacancies__link">
                                <img src="img/svg/mess.svg" alt="">
                            </a>
                            <a href="#" class="vacancies__link">
                                <img src="img/svg/habr.svg" alt="">
                            </a>
                            <a href="#" class="vacancies__link">
                                <img src="img/svg/hh.svg" alt="">
                            </a>
                            <a href="#" class="vacancies__link">
                                <img src="img/svg/in.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vacancies__item">
                <div class="vacancies__top">
                    <h3 class="vacancies__subtitle">Помощник Маркетолога (Junior)</h3>
                    <div class="vacancies__conditions">
                        <span>Работа в офисе</span>
                        <span>Россия</span>
                    </div>
                </div>
                <div class="vacancies__body">
                    <div class="vacancies__content">
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">навыки</h3>
                            <div class="vacancies__conditions">
                                <span>Бэкенд</span>
                                <span>Java</span>
                                <span>SQL</span>
                                <span>ООП</span>
                                <span>PostgreSQL</span>
                                <span>Java Spring Framework</span>
                            </div>
                        </div>
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">Местоположение и тип занятости</h3>
                            <div class="vacancies__conditions">
                                <span>Полный рабочий день</span>
                                <span>Можно удаленно</span>
                            </div>
                        </div>
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">Обязанности</h3>
                            <ul>
                                <li>Участие в разработке серверной части сервиса начисления кешбека;</li>
                                <li>Покрытие написанных сервисов тестами. Согласование реализуемых методов и подходов с командой разработчиков клиентов;</li>
                                <li>Реализация логики уведомления клиентов о происходящих событиях;</li>
                                <li>Для сервера используется Spring Boot Framework.</li>
                            </ul>
                        </div>
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">Требования</h3>
                            <ul>
                                <li>Опыт коммерческой разработки back-end на Java от 1 года;</li>
                                <li>Опыт работы с Spring Framework;</li>
                                <li>Умение писать unit-тесты и понимание, зачем это нужно;</li>
                                <li>Опыт работы с PostgreSQL, Oracle (или другими классическими базами данных);</li>
                                <li>Умение находить и использовать новые сервисы и технологии.</li>
                            </ul>
                        </div>
                        <div class="vacancies__row">
                            <h3 class="vacancies__caption">Условия</h3>
                            <ul>
                                <li>Активная разработка и возможность увидеть созданную с вами систему на бою;</li>
                                <li>Каждый специалист уникален, а потому уровень заработной платы обсуждается индивидуально;</li>
                                <li>Дружелюбная, не бюрократизированная обстановка;</li>
                                <li>Оформление по ТК;</li>
                                <li>Удаленная работа. При необходимости встречаемся в неформальной обстановке;</li>
                                <li>Стабильная зарплата;</li>
                                <li>Разработка на бою.</li>
                            </ul>
                        </div>
                        <div class="vacancies__links">
                            <a href="#" class="vacancies__link">
                                <img src="img/svg/mess.svg" alt="">
                            </a>
                            <a href="#" class="vacancies__link">
                                <img src="img/svg/habr.svg" alt="">
                            </a>
                            <a href="#" class="vacancies__link">
                                <img src="img/svg/hh.svg" alt="">
                            </a>
                            <a href="#" class="vacancies__link">
                                <img src="img/svg/in.svg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>