<section class="vroom-desc">
    <div class="container">
        <div class="vroom-desc__inner">
            <div class="vroom-desc__item">
                <div class="vroom-desc__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#dev"></use>
                    </svg>
                </div>
                <div class="vroom-desc__text">
                    <p>Независимая команда специалистов: программистов, дизайнеров, инженеров</p>
                </div>
            </div>
            <div class="vroom-desc__item">
                <div class="vroom-desc__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#VR"></use>
                    </svg>
                </div>
                <div class="vroom-desc__text">
                    <p>Разработки любой сложности: виртуальная и дополненная реальности, мобильные приложения</p>
                </div>
            </div>
            <div class="vroom-desc__item">
                <div class="vroom-desc__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#sk"></use>
                    </svg>
                </div>
                <div class="vroom-desc__text">
                    <p>Аккредитованный участник инновационного центра «Сколково»</p>
                </div>
            </div>
        </div>
    </div>
</section>